<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<div class="page-header">
  					<h3>Manage Profile</h3>
				</div>
			</div>
			<div class="col-lg-4"></div>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<div class="row">
					<div class="col-lg-6">
					    <form>
					    	<div class="form-group">
							    <a href="#" class="thumbnail">
							       <img src="../images/blank.png" alt="Avatar" class="img-thumbnail img-responsive">
							    </a>
							</div>
						  	<div class="form-group">
						  		<div class="btn-group center-block">
									<button type="button" class="btn btn-default">
									  	<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button type="button" class="btn btn-default">
									  	<span class="glyphicon glyphicon-folder-open"></span>
									</button>
								</div> 
						  	</div>
						</form>
					</div>
					<div class="col-lg-6">
						<form>
						  <div class="form-group">
						    <label for="display-name">Display Name</label>
						    <input type="text" class="form-control" id="display-name" placeholder="Eg. Pikachu">
						  </div>
						  <div class="form-group">
						    <label for="first-name">First Name</label>
						    <input type="text" class="form-control" id="first-name" placeholder="Elon">
						  </div>
						  <div class="form-group">
						    <label for="first-name">Last Name</label>
						    <input type="text" class="form-control" id="last-name" placeholder="Musk">
						  </div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<div class="page-header">
  					<h4>Social Accounts</h4>
				</div>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>
</section>
