<section id="registration" ng-controller="RegisterController as registerController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<form data-toggle="validator" role="form" autocomplete="off">
				  <div class="form-group">
				    <code-verify></code-verify>
				  </div>
				  <div class="form-group">
				    <label for="password">Password</label>
				    <input type="password" data-minlength="6" class="form-control" id="password" placeholder="Enter your password" required ng-model="user.password" ng-change="checkMatch()">
				    <div class="help-block">Minimum of 6 characters</div>
				  </div>
				  <div class="form-group">
				      <input type="password" class="form-control" id="password-confirm" placeholder="Confirm" required ng-model="user.passwordConfirm" ng-change="checkMatch()"> 
				      <div class="help-block with-errors" id="password-error" ng-bind-html="passwordError | to_trusted"></div>
				  </div>
				  <button type="submit" class="btn btn-primary" id="register-user" ng-click="registerUser()" ng-model="canRegister" ng-disabled="canRegister">Register</button>
				  <div class="help-block" id="registration-status" ng-bind-html="registrationStatus | to_trusted"></div>
				</form>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>
</section>